# Python virtual environment
venv/

# Ignore everything in shared except roi_config.yaml and model/
shared/*
!shared/roi_config.yaml
!shared/model/
!shared/violations/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Streamlit cache
.streamlit/

# Other
*.bak
*.swp 